.blink {
    animation: blinker 2s linear infinite;
    color: #bf2600;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
}
@keyframes blinker {
    50% { opacity: 0; }
}
#content {
    margin: 12px;
}

#tableBody>tr {
    cursor: grab;
}
#tableBody>tr :active {
    cursor: grabbing;
}

#loading-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.might-overflow {
    text-overflow: ellipsis;
    overflow : hidden;
    white-space: nowrap;
}

.might-overflow:hover {
    text-overflow: clip;
    white-space: normal;
    word-break: break-all;
}

#loading-spinner aui-spinner {
    margin: 1em;
}

.custom-card-style {
    border-radius: 3px;
    box-shadow:
            0 1px 1px rgba(9, 30, 66, 0.25),
            0 0 1px 0 rgba(9, 30, 66, 0.31);
    margin: 0 auto;
    padding: 10px;
    width: 20em;
}

#row1{
    font-weight: bold;
    text-align: left;
    font-size: 13px;
}

#shadow{
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}
#shadow:hover {
    background-color: #dddddd;

    /*padding: 10px;*/
}
.aui-help-content{
    margin-bottom: 60px;
}
.row{
    margin-bottom: 10px;
    padding-left: 15px;
}
#buttons{
    text-align: center;
    margin-left:auto;
}
#auiTable{
    margin-left: auto;
    margin-right: auto;
    position: center;
    margin-bottom: 15px;
    border-collapse: separate;
    border-spacing: 1px 10px;
    width: 100%;
    table-layout: auto;
}
#auiTable td, #auiTable tr{
    border: 1px solid #ffffff;
    border-radius: 20px;
}

#auiTable tr:hover {
    background-color: #dddddd;

}

#auiTable th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    background-color: #0747a6;
    color: #ffffff;
    border-radius: 15px;

}
table.dataTable.no-footer {
    border-bottom: none !important;
}
table.dataTable thead th, table.dataTable thead td {
    border-bottom: none !important;
}

.dataTables_wrapper .dataTables_filter {
    float: left;
}

.dataTables_wrapper .dataTables_filter input {
    font-weight: normal;
}

label {
    color: #6b778c;
}
#tableDiv {
    position: relative;
    top: 80px;
    table-layout: auto;
    max-width: 10000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px;
}
#more {display: none;}
#butceInput, #baslangicTarihiInput, #bitisTarihiInput{
    color:darkgray;
    border-color: whitesmoke;
    border-radius: 5px;
}

.aui-select2-container.select2-allowclear .select2-choice .select2-search-choice-close {
    display: block;
    opacity: 0.7;
}
.aui-select2-container .select2-choice abbr {
    padding-top: 0px;
    position: absolute;
}
.aui-select2-container.select2-allowclear .select2-choice .select2-search-choice-close:hover {
    opacity: 1;
}

.swal-wide{
    width: fit-content !important;
}