<!--
Written by Veniture

TODO
İssue Link olsun
-->
$webResourceManager.requireResources("com.veniture.PortfolioManagement:PortfolioManagement-resources")


<!--
Created using JS Bin
http://jsbin.com

Copyright (c) 2019 by venITure

Released under the MIT license: http://jsbin.mit-license.org
-->
<html>
<head>
    <!-- Latest compiled and minified CSS-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/table-to-json@0.13.0/lib/jquery.tabletojson.min.js" integrity="sha256-AqDz23QC5g2yyhRaZcEGhMMZwQnp8fC6sCZpf+e7pnw=" crossorigin="anonymous"></script>
    <script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>

    <meta charset="utf-8">
    <title>Proje Önceliklendirme</title>

    <meta name="decorator" content="atl.general">
    <style id="css">
        #content {
            margin: 12px;
        }

        #tableBody>tr {
            cursor: move;
            cursor: -webkit-grabbing;
        }

        #loading-spinner {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .might-overflow {
            text-overflow: ellipsis;
            overflow : hidden;
            white-space: nowrap;
        }

        .might-overflow:hover {
            text-overflow: clip;
            white-space: normal;
            word-break: break-all;
        }

        #loading-spinner aui-spinner {
            margin: 1em;
        }

        .custom-card-style {
            border-radius: 3px;
            box-shadow:
                    0 1px 1px rgba(9, 30, 66, 0.25),
                    0 0 1px 0 rgba(9, 30, 66, 0.31);
            margin: 0 auto;
            padding: 10px;
            width: 20em;
        }

        td {
            min-width:15px;
            max-width:550px;
        }

        .swal2-popup {
            font-size: 1.2rem !important;
        }
    </style>

    <script>
        console.log("açıldııııı");
        AJS.$("dolarExchange").val();
        AJS.$(document).ready(function () {
            console.log("AJAX'ın içi");
            window.onbeforeunload = null;
            // List with handle
            Sortable.create(tableBody, {
                scroll: true,
                scrollSensitivity: 130,
                scrollSpeed: 28,
                handle: 'tr',
                animation: 150,
                onUpdate: function (evt) {
                    updatePriorities("$restriction");
                }
            });

            updatePriorities("$restriction");

            AJS.$("#customFieldList-select2").auiSelect2();
            AJS.$('#kaydetButton').off().on("click", function (e) {
                var params = new window.URLSearchParams(window.location.search);
                console.log("restriction = "+ params.get('restriction'));
                updatePrioritiesInJIRA(params.get('restriction'));
                e.preventDefault();

                // Swal.fire({
                //     title: 'Are you sure?',
                //     text: "You won't be able to revert this!",
                //     type: 'warning',
                //     showCancelButton: true,
                //     confirmButtonColor: '#3085d6',
                //     cancelButtonColor: '#d33',
                //     confirmButtonText: 'Yes, delete it!'
                // },
                //         function(isConfirm){
                //             if (isConfirm.value){
                //                 e.preventDefault();
                //                 console.log("success");
                //             } else {
                //                 e.preventDefault();
                //                 console.log("fail");
                //             }
                //         })
            });
            AJS.$("#loading-spinner").hide();
            AJS.$("#customFieldList-select2").on('select2-selecting', function (e) {

                //Header'ı göster
                AJS.$('#auiTable > thead  th[data-override*="'+e.val+'"]').show();

                //custom Field td'leri çeker bu
                var issueCFsectionInTable = AJS.$('#auiTable > tbody  tr td[class*="'+e.val+'"]');

                var issueKeys =[];
                issueCFsectionInTable.each(function () {

                    //td'ın parent'ı tr'a gidio sonra tr'ın ilk sütunu yani issue key sütünunu çekio
                    var issueKey=AJS.$(this).parent().children().first().children().first().prop( "innerHTML" );
                    issueKeys.push(issueKey);
                    AJS.$(this).show();
                });

                var cfValues=bulkGetCfValuesFromIssue(issueKeys.join(","),e.val);
                //Burada kritik nokta cfValues length ile Table'daki row sayısı mutlaka aynı olmalı !!!
                var array=cfValues.split(",,,");
                for(var i = 0; i < array.length; i++) {
                    issueCFsectionInTable[i].innerHTML=array[i];
                }
            });
            AJS.$("#customFieldList-select2").on("select2-removing", function(e) {
                AJS.$('#auiTable > thead  th[data-override*="'+e.val+'"]').hide();
                AJS.$('#auiTable > tbody  tr td[class*="'+e.val+'"]').hide();
            });

            function bulkGetCfValuesFromIssue(issueKeys, customfieldId){
                var value="-";
                jQuery.ajax({
                    url: AJS.params.baseURL + "/rest/florestservice/1.2/rest/bulkGetCfValueFromIssue",
                    type: 'POST',
                    data: {
                        issueKey: issueKeys,
                        customFieldId: customfieldId
                    },
                    async: false,
                    beforeSend: function () {
                        //Swal.showLoading();

                    },
                    error : function (response) {
                        //Swal.hideLoading();
                        Swal.fire({
                            type: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong!',
                            footer: '<a href="mailto:berk.karabacak@veniture.com.tr ?Subject=Error%20at%20ProjectApprove" target="_top">Send Mail</a>'
                        });
                        value= "-";
                    },
                    success: function (response, status, jqXHR) {
                        //Swal.hideLoading();
                        console.log("getCfValueFromIssue complete");
                        window.scrollTo({
                            left: 20000,top: 300,
                            behavior: 'smooth',
                        });
                        value= response;
                    }
                });
                return value;
            }
            function updatePriorities(restriction) {
                var i = 0;
                var tableBody = AJS.$('#tableBody > tr');
                tableBody.each(function () {
                    if (restriction === "dolar") {
                        AJS.$(this).find(".gmyPriority").text(i + 1);
                    } else if (restriction === "dp") {
                        AJS.$(this).find(".birimOncelik").text(i + 1);
                    }else {
                        AJS.$(this).find(".birimOncelik").text(i + 1);
                        AJS.$(this).find(".gmyPriority").text(i + 1);
                    }
                    i++;
                });
                console.log("Priorities are updated (Not in JIRA DB))");
            }
            function updatePrioritiesInJIRA(gmyOrBirim) {
                var table = AJS.$('#auiTable').tableToJSON({
                    ignoreEmptyRows : true,
                    onlyColumns: [0,3,4]
                    //Bu sıralama önemli
                }); // Convert the table into a javascript object

                jQuery.ajax({
                    url: AJS.params.baseURL + "/rest/florestservice/1.2/rest/setPriorityCfValuesInJira",
                    type: 'POST',
                    data: {
                        jsontable: JSON.stringify(table),
                        gmyOrBirim : gmyOrBirim
                    },
                    async: true,
                    beforeSend: function () {
                        Swal.showLoading()
                    },
                    complete: function (response) {
                        Swal.hideLoading()
                    },
                    error: function (response) {
                        Swal.fire({
                            type: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong!',
                            footer: '<a href="mailto:berk.karabacak@veniture.com.tr ?Subject=Error%20at%20ProjectApprove" target="_top">Send Mail</a>'
                        })
                        console.log("setPriorityCfValuesInJira has finished with ERROR !!!");
                    },
                    success: function (response, status, jqXHR) {
                        console.log("setPriorityCfValuesInJira is successful");
                        Swal.fire({
                            position: 'center',
                            type: 'success',
                            title: 'Önceliklendirme Tamamlandı!',
                            showConfirmButton: false,
                            timer: 1900
                        })
                        window.location.reload();
                    }
                });
            }
        });
    </script>
</head>
<body>
##    #if( $issues.isEmpty() )
##    <div class="aui-group">
##        <div class="aui-help aui-help-empty-state">
##            <div class="aui-help-content">
##                <h1>Proje Önceliklendirme</h1>
##                <p>Önceliklendirme yapılacak proje bulunamadı.</p>
##            </div>
##        </div>
##    </div>
##    #else
##    <div class="aui-group">
##        <div class="aui-help aui-help-empty-state">
##            <div class="aui-help-content">
##                <h1>Proje Önceliklendirme</h1>
##                <p>Projeleri sürekle-bırak yöntemi ile istediğiniz sıraya taşıyınız. Önceliklendirme bittikten sonra kaydet tuşuna basınız.</p>
##            </div>
##        </div>
##    </div>

    <div class="aui-group">
        <div class="aui-item" id="#dolarKuruFields">
            <div class="aui-help-content">
                <h1>Güncel Dolar Kuru</h1>
                <h2 id="dolarExchange" name="dolarExchange"></h2>
                #foreach($kur in $dolarKuru)
                    <p>$kur</p>
                #end
            </div>
        </div>
    </div>

##    <div class="aui-group">
##        <div class="aui-item" id="#select2-customFields">
##            <form class="aui">
##                <select id="customFieldList-select2" data-placeholder="Alan eklemek için tıklayın." multiple style="width: 40%">
##                    <option></option>
##                    #foreach($cf in $customFieldsInProject)
##                        <option value="$cf.getId()">$cf.getFieldName()</option>
##                    #end
##                </select>
##            </form>
##        </div>
##    </div>
##
##    <div class="aui-group">
##        <div id="loading-spinner" class="custom-card-style">
##            <p>Loading results...</p>
##            <aui-spinner size="large"></aui-spinner>
##        </div>
##    </div>
##
##    <div class="aui-group" id="buttons">
##        <button class="aui-button aui-button-primary" id="kaydetButton">Kaydet</button>
##        ##      <button class="aui-button aui-button-primary" id="hide">hide</button>
##        ##      <button class="aui-button aui-button-primary" id="show">show</button>
##    </div>
##
##    <div class="aui-group list-group" id="tableDiv">
##        <table class="aui" id="auiTable">
##            <thead>
##            <tr>
##                <th class="aui-table-column-issue-key" data-override="key">Issue key</th>
##                <th data-override="Summary">Özet</th>
##                <th class="aui-table-column-unsortable" data-override="Description">Açıklama</th>
##                <th data-override="GM">Grup/GMY Önceliği</th>
##                <th data-override="DP">Departman Önceliği</th>
##                #foreach($cf in $customFieldsInProject)
##                    <th style="display:none;" data-override="$cf.getId()">$cf.getName()</th>
##                #end
##            <tr>
##            </thead>
##
##            <tbody id="tableBody">
##                #foreach( $issue in $issues )
##                <tr>
##                    <td><a href="$baseUrl/browse/$issue.getKey()" class="issueKey">$issue.getKey()</a></td>
##                    <td style="font-weight:bold">$issue.getSummary()</td>
##                    <td class="might-overflow">$issue.getDescription()</td>
##                    <td><aui-badge class="gmyPriority">#if(  $issue.getCustomFieldValue($gmyOncelikCF  ))$issue.getCustomFieldValue($gmyOncelikCF  ).intValue()#else - #end</aui-badge></td>
##                    <td><aui-badge class="birimOncelik">#if( $issue.getCustomFieldValue($birimOncelikCF))$issue.getCustomFieldValue($birimOncelikCF).intValue()#else - #end</aui-badge></td>
##                    #foreach($cf in $customFieldsInProject)
##                        <td style="display:none;" class="$cf.getId()">-</td>
##                    #end
##                </tr>
##                #end
##            </tbody>
##        </table>
##    </div>
##    #end
</body>
</html>