#content {
    margin: 12px;
}

#tableBody>tr {
    cursor: grab;
}
#tableBody>tr :active {
    cursor: grabbing;
}

#loading-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.might-overflow {
    text-overflow: ellipsis;
    overflow : hidden;
    white-space: nowrap;
}

.might-overflow:hover {
    text-overflow: clip;
    white-space: normal;
    word-break: break-all;
}

#loading-spinner aui-spinner {
    margin: 1em;
}

.custom-card-style {
    border-radius: 3px;
    box-shadow:
            0 1px 1px rgba(9, 30, 66, 0.25),
            0 0 1px 0 rgba(9, 30, 66, 0.31);
    margin: 0 auto;
    padding: 10px;
    width: 20em;
}

td {
    min-width:15px;
    max-width:100px;
}
#row1{
    font-weight: bold;
    text-align: left;
    font-size: 13px;
}
#shadow:hover {
    background-color: #f5f5f5;
    padding: 10px;

}
.aui-help-content{
    margin-bottom: 60px;
}
.row{
    margin-bottom: 60px;
}
#buttons{
    text-align: center;
    margin-left:auto;
    margin-right: auto;

}
#auiTable{
    margin-left: auto;
    margin-right: auto;
    position: center;
    margin-bottom: 130px;
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 100%;
}
#auiTable td, #auiTable tr{
    border: 1px solid #ddd;
}
#auiTable tr:nth-child(even){background-color: #f2f2f2;}

#auiTable tr:hover {background-color: #ddd;}

#auiTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0747a6;
    color: #deebff;
}
table.dataTable.no-footer {
    border-bottom: none;
}
table.dataTable thead th, table.dataTable thead td {
    border-bottom: none;
}